body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#field{
  width: 500px;
  height: 500px;
  font-size: 30px;
  border-spacing: 0px;
  border-collapse: collapse;
}


#field td{
  width: 100px;
  height: 100px;
  border: 1px solid #dddddd;
  text-align: center;
}

#field td:hover{
  background:rgb(236, 232, 232);
  transition: 1s;
}

.Size_Field{
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: center;
  width: 500px;
}

.container{
  width: 100%;
  height: auto;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper{
  transition: 1s;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  min-height: 100vh;
  height: auto;
  margin: 50px auto;
  background-color:white;
  
}

button{
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

header {
  border-bottom: 1px solid #eaeaea;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.df{
  display:flex;
  justify-content:center;
  align-items: center;
}

.link{
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}
.link div{
  margin: 10px;
}


.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
  border: 1px solid #eaeaea;
  color:black;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.main label{
	color:black;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.main input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.main button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.main button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}



.greenButton {
  position: relative;
}


.greenButton img{
    position: absolute;
    right: 30px;
    top: 20px;
    transition: transform 0.15s ease-in-out;
}
  
.greenButton &:hover img {
      transform: translateX(5px);
}

.greenButton {
width: 100%;
height: 55px;
background: #573b8a;
border-radius: 18px;
border: 0;
color: #fff;
font-size: 14px;
font-weight: 500;
cursor: pointer;
transition: background 0.1s ease-in-out;
}
.greenButton &:hover {
  background: lighten(#6d44b8, 5%);
}

.greenButton &:active {
  background: darken(#6d44b8, 5%);
}

.cartEmpty {
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;

}

.cartEmpty .greenButton{
    width: 245px;
    margin-top: 20px;
}

.cartEmpty .greenButton &:hover img {
        transform: rotate(180deg) translateX(3px);
}

.cartEmpty .greenButton img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
}

.op-6{
  opacity: 0.6;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block{
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  height: 30%;
  background-color: white;
}

.avatarContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  height: 100%;
  justify-content: space-around;
  padding: 50px;
  border:1px solid #eaeaea;
  border-radius: 10px;
}

.avatarContainer p{
  font-size: 20px;
}

.avatarContainer div:first-child{
  width: 30%;
  height: auto;
  margin-right: 50px;
 
}

.avatar{
  width: auto;
  height: auto;
  padding: 50px;
  border-radius: 50%;
  border:1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info{
   width: 50%;
   height: auto;
   display: flex;
  justify-content: center;
   flex-direction: column;
}

.Border{
  border-radius: 10px;
  border:1px solid #eaeaea;
}

hr{
  border: none;
  background-color: #eaeaea;
  height: 2px;
  width: 100%;
}

.element{
  width: 90%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  border:1px solid #eaeaea;
  font-size: 30px;
  margin: 20px 0;
}

.element h3{
  display: flex;
  align-items: center;
  justify-content: center;
}


.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Rating{
  position:fixed;
  top:30%;
  right:5%;
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalRating{
  width: 50%;
  height: 50%;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:auto;
}

#R{
  width: 90%;
  height: 70%;
  font-size: 30px;
  border-spacing: 0px;
  border-collapse: collapse;
  overflow-y: scroll;
}


#R td{
  width: 50px;
  height: 50px;
  border: 1px solid #dddddd;
  text-align: center;
}